# Fichiers Python temporaires et caches
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environnements virtuels
.venv/
venv/
env/

# Stockage de données volumineuses (images)
data/

# Fichiers de poids et modèles entraînés (trop lourds pour Git)
models/*.h5
models/*.pth
models/*.pt
models/*.onnx

# Configuration locale et système
.DS_Store
.env
.idea/
.vscode/
